<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/static/mystyle.css">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    <table style="width:100%; border:2px solid #000; text-align:center">
    {% for x in datas %}
    <tr style="{{ loop.cycle('background-color: #EEE', 'background-color: #FFF') }}">
        {% if loop.first %}
            {% for data in x %}
                <th>{{data}}</th>
            {% endfor %}
        {% else %}
            {% for data in x %}
                <td>{{data}}</td>
            {% endfor %}
        {% endif %}
    </tr>
    {% endfor %}
    </table>
    <br><a class="button" href="/">Back to 127.0.0.1 sweet 127.0.0.1....</a>

</body>
</html>